<div class="foodWidget">
	{{#each partials.weatherContext.locations}}
	<div class="location">
		<h3>{{name}}</h3>
		<a href="{{forecastUrl}}">
			<img src="{{iconUrl}}">
		</a>
	</div>
	{{/each}}
</div>